# --- Virtual environments ---
.venv/
venv/
ENV/
env/
myvenv/

# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDEs & OS files ---
.vscode/
.idea/
*.iml
.DS_Store

# --- Databases ---
*.db
*.sqlite3

# --- Logs ---
*.log

# --- Byte-compiled / optimized / DLL files ---
*.dll
*.so
*.dylib

# --- Env variables ---
.env
.env.local
