{% extends "base.html" %}
{% block content %}

<h2>Registrar Progreso</h2>
<head><link rel="stylesheet" href="/static/css/styles.css">
</head>

<form action="/progreso/crear-html" method="post">
    <select name="usuario_id" required>
        {% for u in usuarios %}
        <option value="{{ u.id }}">{{ u.nombre }}</option>
        {% endfor %}
    </select>

    <input type="text" name="tema" placeholder="Tema aprendido" required>
    <input type="number" name="avance" min="0" max="100" required>
    <button type="submit">Guardar</button>
</form>

{% endblock %}
