<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<h1> Dashboard de Reportes</h1>

<div class="contenedor">

    <div class="card">
        <h3>Total de Usuarios</h3>
        <h2>{{ usuarios }}</h2>
    </div>

    <div class="card">
        <h3>Total de Progresos</h3>
        <h2>{{ progresos }}</h2>
    </div>

    <div class="card">
        <h3>Total de Retos</h3>
        <h2>{{ retos }}</h2>
    </div>

</div>

<br>
<a href="/reportes/ranking" class="btn">📥 Descargar Ranking en PDF</a>

</body>
</html>
