{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}

{% block content %}
<h2>Listado de Usuarios</h2>

<a href="/usuarios/nuevo">➕ Crear Nuevo Usuario</a>

<table>
    <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Categoría</th>
        <th>Puntos</th>
    </tr>

    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.id }}</td>
        <td>
            {% if usuario.foto %}
                <img src="{{ usuario.foto }}" width="50">
            {% else %}
                Sin foto
            {% endif %}
        </td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.edad }}</td>
        <td>{{ usuario.categoria }}</td>
        <td>{{ usuario.puntos }}</td>
    </tr>
    {% endfor %}
</table>